@model UserIndexViewModel

@if (this.User.Identity.IsAuthenticated)
{
    <p class="text-large"><b>Current Credits: @Model.Credits</b></p>
    @if (Model.Credits > 0)
    {
        <a asp-controller="Transactions" asp-action="Create" class="btn btn-secondary btn-lg">Make a gift</a>
    }
    else
    {
        <p>You cannot make gifts due to lack of credits!</p>
    }


    @if (this.User.IsInRole("Admin"))
    {
        <h1 class="text-center">Welcome, @this.User.Identity.Name!</h1>
    }
    else
    {
        <partial name="_UserDashboard" model="Model" />
    }
}
else
{
    <h1 class="text-center">Welcome, stranger!</h1>
    <h3 class="text-center">Please register or login to use our system.</h3>
}