@model UserIndexViewModel

<h1 class="text-center">Dashboard</h1>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-6 text-center">
            My Transactions
        </div>
        <div class="col-md-6 text-center">
            Transactions made to me
        </div>
    </div>
</div>